*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: white;
}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.shadow1 {
  box-shadow: 5px 5px 10px;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
 --min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  width: 400px;
  height: 630px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2.25rem;
  border-right: 1px solid rgb(102,102,102);
  border-left: none;
  border-top: 1px solid rgb(102,102,102);
  border-bottom: none;
  outline: none;
  background-color:	rgb(224, 224, 231,.75) ;
}

/* .calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
} */
.calculator-grid > button:active
{
  background-color: rgb(190, 190, 196);
}
.calculator-grid > button:active.data-operation  {
  background-color:  rgb(210, 122, 21)!important;
}
.data-operation {
  font-size: 3em !important;
  color: white; 
  background-color:rgb(249, 141, 25)!important;
}
.calculator-grid > button:active.data-single-operation  {
  background-color:  rgb(166, 164, 172)!important;
}
.data-single-operation {
  background-color: rgb(198, 196, 204)!important
}
.calculator-grid > button:active.data-equals  {
  background-color:  rgb(210, 122, 21)!important;
}
 .data-equals {
  color: white; 
  font-size: 3em!important;
  background-color:rgb(249, 141, 25)!important;
}


.span-two {
  grid-column: span 2;
  text-align: left;
  padding-left: 40px;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(28, 25, 28);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  --word-wrap: break-word;
  --word-break: break-all;
  min-height: 140px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.2rem;
  display: none;
}

.output .current-operand {
  color: white;
  font-size: 2.2rem;
  display: none;
}

.output .result-operand
{
  /* padding-right: 30px; */
  color: white !important ;
  /* font-size: 6rem; */
  font-size:90px;
}
.effect1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
